@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');

body {
    font-family: 'Bai Jamjuree', sans-serif;
    box-sizing: border-box;
    background: #9bccf7;
}

h4 {
    font-family: 'Bai Jamjuree', sans-serif;
}

#title {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
}

/* schedule list */
.schedule-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
    word-wrap: break-word;
}

.schedule-list .desc {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
}

.schedule-list .date {
    color: white;
}

#schedule-name {
    font-size: 30px;
    font-weight: bold;
}

/* form */
.add-schedule-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

input[type=text], input[type=date], input[type=time], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #51a9f7;
    font-size: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #379af2;
}